%btn{
    color: $sable;
    font-weight: bolder;
    font-size: $small;
    display: inline-block;
    padding: 0 0.5rem;
    height: 0.5rem;
    line-height: 0.25rem;    
    text-decoration: none;
    background-color: $orange;
    font-family: $ubuntu;
    font-size: $small;
    border: 0.2rem solid $tangerine;
 
    &:hover{
        background-color: white;
        text-decoration: none;
        color: $black;
    }
    &:focus {
        border: 0.25px $charcoal  solid;
      } 
}

.button{
    padding-top: 4px;
    padding-bottom: 4px;
    align-items: center;
    text-align: center;
    @extend %btn;

    
}

