header{
    text-align: center;
    padding-bottom: 20px;
}
header img{
    height: 400px;  
    width: auto;  
}

@media (min-width: 600px) { 
    header{
        margin-top: 60px;
        margin-left: 50%;
    }
   
    header img{
        height: 100%;    
    }  

}